.bat {
 /*width: 400px;*/
    height: 500px;
    transition: transform 0.2s ease-in-out;
}

.bat:hover {
    transform: rotate(-60deg);
    transform-origin: 80% 0%;
}

.ball {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    bottom: 190px;
    left: 700px;
    transition: transform 2s ease-in-out 0.3s;
}

.field:hover .ball {
    transform: translate(1000px, -200px);

}