.service-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 10px;
}

@media only screen and (max-width: 688px) {
    .service-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 689px) and (max-width: 991px) {
    .service-container {
        grid-template-columns: repeat(2, 1fr);
    }
}