.product {
    display: flex;
    border-bottom: 1px solid lightgrey;
    margin-right: 5px;
    padding-bottom: 5px;
}

.product-name {
    color: blue;
    font-weight: 400;
}
.btn-regular {
    background-color: goldenrod;
    height: 25px;
    width: 150px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}